#folder-content{
  height: 113px;
  width: 96px;
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#folder-img{
  padding-left: 13.5px;
  padding-right: 13.3px;
  padding-top :20.2px;
  padding-bottom: 16.9px;
}

#folder-name{
  padding-left: 25px;
  padding-bottom: 9px;
  font-size: 19px;
  padding-right: 24px;
}
